
  
<p><span >Author: </span><span style="font-family: 'poppins'; color: #740094;">{{quote.author}}</span></p>
<p><span >Created On:</span><span style="font-family: 'poppins'; color: #740094;">{{quote.dateCreated |date}}</span></p>
<p style="font-family: 'poppins'; color: #740094;">Published {{quote.dateCreated |dayCount}} days ago</p>
<button class="btn btn-danger" (click)='deleteQuote(true)' style="font-family: 'poppins'; color: #fff; position: absolute; left: 20.7em; bottom: 1em;">delete</button>