
<div class="container-fluid">
    <h2 class="main-heading" style="color: #320064;">Add<span class="title2" style="color: #740094;">Quote</span></h2>
    <form (ngSubmit)="submitQuote(); quoteForm.resetForm()" #quoteForm='ngForm'>
  
      <div class="form-group">
        <label class="form-labels" for="personSubmitting">Name</label>
        <input type="text" id="personSubmitting" class="form-control" [(ngModel)]="newQuote.personSubmitting"
          name="personSubmitting" #personSubmitting="ngModel" required>
        <div [hidden]="personSubmitting.valid || personSubmitting.pristine" class="text-danger">
          <p>*required!</p>
        </div>
      </div>
  
      <div class="form-group">
        <label class="form-labels" for="">Quote Title</label>
        <input type="text" id="" class="form-control" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
        <div [hidden]="name.valid || name.pristine" class="text-danger">
          <p>*required!</p>
        </div>
  
      </div>
  
      <div class="form-group">
        <label class="form-labels" for="">Quote</label>
        <input type="text" id="" class="form-control" [(ngModel)]="newQuote.description" name="description"
          #description="ngModel" required>
        <div [hidden]="description.valid || description.pristine" class="text-danger">
          <p>*required!</p>
        </div>
  
      </div>
  
      <div class="form-group">
        <label class="form-labels" for="">Author</label>
        <input type="text" id="" class="form-control" [(ngModel)]="newQuote.author" name="author" #author="ngModel"
          required>
        <div [hidden]="author.valid || author.pristine" class="text-danger">
          <p>*required!</p>
        </div>
  
      </div>
  
      <div class="text-center">
        <button type="submit" [disabled]="!quoteForm.valid" class="btn btn-success m-4 " style="border: 3px outset rgb(255, 212, 246); background-color: transparent; color: #740094;">push Quote</button>
      </div>
    </form>
  </div>