.main-heading {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0em;
  }
  
  .form-labels {
    font-family: 'Arvo', serif; font-size: 25px;
    text-align: left;
    color: #320064;
    font-size: 15px;
    position: relative;
    left: 0em;
    background-color: rgb(255, 212, 246);
    width: 100%;
  }
  
  form {

    background-position: center;
    background-size: cover;
    padding: 3em;
  }
  