<div class="container-fluid">
    <h2 class="heading">Add Quote</h2>


    <form (ngSubmit)='addQuote() ;quotesForm.resetForm({})' #quotesForm='ngForm'>

        <!-- name -->
        <div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="quoted.name" name="name" #name='ngModel' minlength="3">
            <div *ngIf="name.invalid && name.dirty" class="alert alert-danger">
            <div *ngIf="name.errors.required">
             Name is required.
            </div>
        </div>

           <!-- name length alert -->
           <div *ngIf="name.errors.minlength">
            Should be at least 3 characters long.
           </div>
        </div> 

        <!-- Quote title -->
        <div class="form-group">
            <label for="name">Quote Tittle</label>
            <input type="text" required class="form-control" id="title" [(ngModel)]="quoted.title" name="title" #title='ngModel'>

            <!-- Quote title alert -->
            <div *ngIf="title.invalid && title.dirty" class="alert alert-danger">
            <div *ngIf="title.errors.required">
            Title is required.
            </div>
            </div>
        </div> 

        <!-- Actual Quote -->
        <div class="form-group">
            <label for="description">Quote</label>
            <textarea class="form-control" id="quote" rows="2" required [(ngModel)]="quoted.quote" name="quote" #quote='ngModel'></textarea>

            <!-- Quote errors alert -->
            <div *ngIf="quote.invalid && quote.dirty" class="alert alert-danger">
              <div *ngIf="quote.errors.required">
                  No Quote Detected.
              </div>
            </div>
        </div>

        <!-- Author name input  -->
        <div class="form-group">
            <label for="name">Quote Author</label>
            <input type="text" required class="form-control" id="author"[(ngModel)]="quoted.author" name="author" #author='ngModel'>

            <!-- Author name alert -->
            <div *ngIf="title.invalid && title.dirty" class="alert alert-danger">
              <div *ngIf="title.errors.required">
                  Author Name is required.
              </div>
            </div>
        </div>

        <!-- New Quote button -->
        <button type="submit" class="btn btn-sm btn-success">Add Quote</button>
    




    </form>