/* delete button */

#delete{
    font-size: 20px;
    margin-right: 2%;
  }
  #del{
    float:right;
  }

/* like and dislike buttons */

#like{
    font-size: 16px;
  }
  #dislike{
    font-size: 16px;
  }
  .hate{
    margin-left: 10px;
    background-color: brown;
    color: white;
  }